# https://github.com/EmbarkStudios/cargo-deny
#
# cargo-deny checks the dependency tree for copy-left licenses,
# duplicate dependencies, and rustsec advisories (https://rustsec.org/advisories).
#
# Install: `cargo install cargo-deny`
# Check: `cargo deny check`.

# Note: running just `cargo deny check` without a `--target` can result in
# false positives due to https://github.com/EmbarkStudios/cargo-deny/issues/324
[graph]
targets = [
    { triple = "aarch64-apple-darwin" },
    { triple = "wasm32-unknown-unknown" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-linux-android" },
]
all-features = true

[advisories]
version = 2
ignore = [
    # Paste is unmaintained, used by Cube and rerun, wait for them to upgrade.
    "RUSTSEC-2024-0436",
]

[bans]
multiple-versions = "deny"
deny = [
    { name = "openssl-sys", reason = "Use rustls" },
    { name = "openssl", reason = "Use rustls" },
]

skip = [
    # common small deps.
    { name = "bitflags" },
    { name = 'itertools' },
    { name = 'getrandom' },
    { name = 'syn' },

    { name = 'thiserror' },
    { name = 'thiserror-impl' },

    # Other
    { name = "core-foundation" },     # Egui has two?
    { name = 'windows_x86_64_msvc' }, # Old version from winit.
    { name = 'windows_x86_64_gnu' },  # Old version from winit.
    { name = 'windows-targets' },     # Old version from winit.
    { name = 'windows-sys' },         # Old version from winit.

    { name = 'windows-core' },      # Wgpu & rerun
    { name = 'windows-strings' },   # Wgpu & rerun
    { name = 'windows-result' },    # Wgpu & rerun
    { name = 'windows-interface' }, # Wgpu & rerun
    { name = 'windows-implement' }, # Wgpu & rerun

    { name = 'rustix' },        # Winit & clap
    { name = 'linux-raw-sys' }, # Winit & clap

    { name = 'block2' },           # eframe & rfd
    { name = 'objc2' },            # eframe & rfd
    { name = 'objc2-app-kit' },    # eframe & rfd
    { name = 'objc2-foundation' }, # eframe & rfd
    { name = 'windows' },          # Wgpu & kiddo

    { name = 'hashbrown' },
    { name = "rustc-hash" },
    { name = "core-graphics-types" },

    { name = "smithay-client-toolkit" },
    { name = "foldhash" },

    { name = "emath" },
    { name = "calloop-wayland-source" },
    { name = "calloop" },

    { name = "zune-jpeg" },
    { name = "zune-core" },
    { name = "webpki-roots" },

    { name = "convert_case" },

    # Older versions in rerun.
    { name = "prettyplease" },
    { name = "console" },
]

[licenses]
version = 2
private = { ignore = true }
confidence-threshold = 0.93 # We want really high confidence when inferring licenses from text
allow = [
    "Apache-2.0 WITH LLVM-exception", # https://spdx.org/licenses/LLVM-exception.html
    "Apache-2.0",                     # https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
    "BSD-2-Clause",                   # https://tldrlegal.com/license/bsd-2-clause-license-(freebsd)
    "BSD-3-Clause",                   # https://tldrlegal.com/license/bsd-3-clause-license-(revised)
    "BSL-1.0",                        # https://tldrlegal.com/license/boost-software-license-1.0-explained
    "CC0-1.0",                        # https://creativecommons.org/publicdomain/zero/1.0/
    "ISC",                            # https://www.tldrlegal.com/license/isc-license
    "MIT",                            # https://tldrlegal.com/license/mit-license
    "MPL-2.0",                        # https://www.mozilla.org/en-US/MPL/2.0/FAQ/ - see Q11. Used by webpki-roots on Linux.
    "Zlib",                           # https://tldrlegal.com/license/zlib-libpng-license-(zlib)
    "Unlicense",                      # https://www.tldrlegal.com/license/unlicense
    "Unicode-3.0",
    "CDLA-Permissive-2.0",
    "bzip2-1.0.6",
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[[licenses.clarify]]
name = "epaint_default_fonts"
expression = "(MIT OR Apache-2.0)"
license-files = []

[sources]
unknown-registry = "deny"
unknown-git = "allow"
